---
layout: "base.njk"
tags: legal
sort: 01

slug: legal-notice
pageKey: legal
pageTitle: Legal Notice

metaTitle: Legal Notice - Corina Rudel
metaDescription: Contact data and "Impressum" as required by German law.
---
<h1>{{ pageTitle }}</h1>

<p>Legal notice (<i lang="de">Impressum</i>) as required by German law:</p>

{% include 'partials/legal_notice.njk' %}
