---
layout: "base.njk"
tags: legal
sort: 02

slug: datenschutz
pageKey: privacy
pageTitle: Datenschutz

metaTitle: Datenschutz - Corina Rudel
metaDescription: Information zum Umgang mit Ihren persönlichen Daten beim Besuch dieser Website.
---
<h1>{{ pageTitle }}</h1>

<p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:</p>
{% include 'partials/privacy.njk' %}
