---
layout: "base.njk"
tags: legal
sort: 02

slug: datenschutz
pageKey: privacy
pageTitle: Datenschutz

metaTitle: Datenschutz - Corina Rudel
metaDescription: Information zum Umgang mit Ihren persönlichen Daten beim Besuch dieser Website.
---
<h1>{{ pageTitle }}</h1>

{% include 'partials/privacy.njk' %}
