---
layout: "base.njk"
tags: legal
sort: 02

slug: privacy
pageKey: privacy
pageTitle: Privacy Policy

metaTitle: Privacy Policy - Corina Rudel
metaDescription: Information on the treatment of your personal data when visiting this web site.
---
<h1>{{ pageTitle }}</h1>

<p>The party responsible for this website for purposes of data protection law (esp. GDPR) is:</p>
{% include 'partials/privacy.njk' %}
