{% macro carousel_item(content) %}
    <li class="carousel__item">
        {{ content | safe }}
    </li>
{% endmacro%}

{% macro carousel(items) %}
    <div class="carousel">
        <ul class="carousel__container u-narrow-scroll is-overflown">
            {{ items | safe }}
        </ul>
    </div>
{% endmacro %}
