---
tags: section
sort: 03

pageKey: skills
slug: faehigkeiten
navTitle: Fähigkeiten
pageTitle: Meine Fähigkeiten

metaTitle: Meine Fähigkeiten als Webentwicklerin - Corina Rudel
metaDescription: Fachliche Fähigkeiten (Font- und Backend) und Soft Skills, die ich im professionellen Umfeld erworben und angewendet habe.
---
{% include 'partials/skills.njk' %}