---
layout: "base.njk"
tags: legal
sort: 01

slug: impressum
pageKey: legal
pageTitle: Impressum

metaTitle: Impressum - Corina Rudel
metaDescription:
---
<h1>{{ pageTitle }}</h1>

<p>Betreiber und inhaltlich verantwortlich:</p>
{% include 'partials/legal_notice.njk' %}
