---
tags: section
sort: 03

pageKey: skills
slug: skills
navTitle: My Skills
pageTitle: My Skills

metaTitle: My Web Development Skills - Corina Rudel
metaDescription: 
---
{% include 'partials/skills.njk' %}