---
tags: section
sort: 03

pageKey: skills
slug: skills
navTitle: My Skills
pageTitle: My Skills

metaTitle: My Web Development Skills - Corina Rudel
metaDescription: Technical skills (front-end & back-end) and soft skills I learned and used in a professional environment.
---
{% include 'partials/skills.njk' %}