.carousel {
    --items-per-page: 1;
    --max-width: 1;
    margin-bottom: var(--unit-down-2);

    @media (min-width: 48rem) {
        & {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__container {
        margin: 0;
        padding: var(--unit-down-2) var(--unit-down-2) 0 0;
        list-style: none;

        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch; /* Momentum scrolling for iOS < 13 */
        scroll-snap-type: x mandatory;
    }
    /* Show part of next item to indicate overflow */
    &__container.is-overflown {
        --max-width: .9;
    }
    /* Fake right padding for overflowing flex container (real padding gets lost)
     * .is-overflown class added via JS
     */
    &__container.is-overflown::after {
        content: '';
        width: var(--unit-down-2);
        flex: 0 0 auto;
    }
    &__item {
        --width: calc(100% / var(--items-per-page) * var(--max-width));
        width: var(--width);
        box-sizing: border-box;
        flex: 0 0 var(--width);
        scroll-snap-align: start;
        padding-left: var(--unit-down-2);
    }
}