$br-header-nav-small: 24rem;
$br-header-nav: 52rem;

.header {
    --border-height: 1px;
    position: relative;
    z-index: 1;

    @media (min-width: $br-header-nav) {
        position: sticky;
        top: var(--unit-down-3-5);
    }

    &__home {
        margin: 0;
        line-height: calc(var(--line-height) * 1em); // lh to em -> child can inherit value, not factor to keep it consistent
        grid-area: logo;
        display: flex;
        align-items: center;

        @media (min-width: $br-header-nav) {
            &::after {
                content: '';
                border-top: 1px solid var(--c-gray);
                flex: 1;
            }
        }

        &-action[href],
        &-action[href]:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: var(--font-size-up-1);
            line-height: inherit;
            letter-spacing: .05em;
            color: var(--c-contrast);
        }
    }
    &__main-nav {
        grid-area: nav;
    }
    &__nav {
        max-width: $grid-width;
        margin-left: auto;
        margin-right: auto;
        padding-top: var(--unit-down-3);
        padding-bottom: var(--unit-down-3);

        display: grid;
        grid-template-areas:
            'logo lang'
            'nav  nav';
        grid-template-columns: auto 1fr;

        @media (min-width: $br-header-nav-small) {
            grid-template-areas:
                'space logo lang'
                'nav nav  nav';
            grid-template-columns: 1fr auto 1fr;
        }

        @media (min-width: $br-header-nav) {
            & {
                grid-template-areas: 'logo nav lang';
                grid-template-columns: 1fr auto 1fr;
            }
        }

        @media print {
            & {
                grid-template-areas: 'nav';
                grid-template-columns: min-content;
                justify-content: center;
            }
        }

        &::before {
            content: '';
            grid-area: space;
        }
    }
    &__lang-switch {
        grid-area: lang;
    }
}