.lang-switch {
    margin: 0;
    padding: var(--unit-down-3) var(--inline-list-marker-space, --unit-down-1) 0;
    min-height: var(--unit-base);
    box-sizing: border-box;
    list-style: none;
    font-size: var(--font-size-down-1);
    line-height: var(----line-height-reduced);
    justify-content: flex-end;
    
    &__item {
        &:first-child::before,
        &::after {
            display: none;
        }
    }
    &__action {
        color: var(--c-text-light);

        &[href] {
            color: var(--c-text);
            text-decoration-color: rgba($c-text, .5);
        }
    }
}