---
tags: section
sort: 04

pageKey: work
slug: work
navTitle: Latest Work
pageTitle: Latest Work

metaTitle: Latest Web development Projects - Corina Rudel
metaDescription: Examples of my work in front-end and back-end development of the last years.
---
{% include 'partials/work.njk' %}