<nav class="header__nav">
    {% for home in collections.home %}
        {% if home.data.locale === locale %}
            <p class="header__home">
                <a class="header__home-action p-hor-base" href="{{ home.url }}" {%- if page.url === home.url %} aria-current="page" {% endif %}>
                    {{ home.data.navTitle }}
                </a>
            </p>
        {% endif %}
    {% endfor %}
    <div class="header__main-nav print-hidden">
        {% include 'partials/main-nav.njk' %}
    </div>

    {% if locale and data.locales | length > 1 %}
        <div class="header__lang-switch print-hidden">
            {% include 'partials/lang-switch.njk' %}
        </div>
    {% endif %}
</nav>
