{% include 'partials/contact_legal.njk' %}

{% for section in collections.legal_notice %}
    {% if not section.data.localisation or section.data.locale === locale %}
        <div lang="{{ section.data.locale }}">
            {{ section.templateContent | safe }}
        </div>
    {% endif %}
{% endfor %}