{% set policyIntro %}
    {% include 'partials/contact_legal.njk' %}
{% endset %}

{% for section in collections.privacy %}
    {% if section.data.localisation === false or section.data.locale === locale %}
        <div lang="{{ section.data.locale }}">
            {{ section.templateContent | safe | replace('[[PRIVACY_CONTROLLER]]', policyIntro) }}
        </div>
    {% endif %}
{% endfor %}